/* BEGINNING OF CSS STYLE SHEET */

/*applies to all pages*/
html {
    scroll-behavior: smooth;
}
header{
    display: block;
}
nav{
    padding-top: 20px;

}

ul {
	list-style-type: none;
	margin: 1%;
    padding-top: 56px;
    padding-right: 10px;
	overflow: hidden;
    background-color: #FFF;
}

nav li a {
	display: block;
    text-align: right;
    font-size: 20px;
    font-family: 'Lora', serif;
    padding-bottom: 3px;
	text-decoration: none;
}

nav a, div a{
	color: black;
	text-decoration: none;
}

nav a:active{
    font-weight: bold;
    font-family: 'Lora', serif;
}

nav li:hover{
    text-decoration: underline;
}

nav li .current{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lora', serif;
}

#nav-menu{
    display: none;
    width: 100%;
}

#button{
    position: absolute;
    right: 0; 
    margin-right: 10px;
    border-radius: 5px;
    width: 65px;
    height: 60px;
    background-color: white;
    color: #4D4D4D;
    border: 2px solid#4D4D4D;  
}

#button:hover{
    color: white; 
    background-color: #4D4D4D;
}


#skip a {
    background-color: black;
    font-family: 'Lora', serif;
    color: #fff;
    position: absolute;
    transform: translateY(-500%);
}

#skip a:focus {
    transform: translateY(0%);
}


footer{ 
    background: lightgrey;
}

.footer-items a {
    font-family: 'Lora', serif;
    display: inline-block; 
    padding-left: 15%;
    padding-top: 8%;
    padding-bottom: 15px;
    text-decoration: none;
    color: black;
}

.footer-items a:hover{
    color: white; 
}



.copyright {
    text-align: center;
    font-family: 'Lora', serif;
    padding-bottom: 20px;
}


/*applies to home/index page*/
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-clip: content-box;
    width: 100vw;
    height: 89vh; 
    margin-top: 70px; 
    background-color:#eeecd8;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255,255,255,0.8)), url(../images/bookstack.jpg);
}

.wrapper-text p {
    text-align: center;
    background-color:  #42e6a4;
    margin-top: 2px;  
    font-size: 17px;
}

.wrapper h1 {
    font-size: 70px;
    color: black; 
    text-shadow: none;
	background: linear-gradient(to right, #018383 20%, #02a8a8 50%, #42e6a4 60%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: textclip 1.5s linear infinite;
    -moz-animation: textclip 1.5s linear infinite;;
	animation: textclip 1.5s linear infinite;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto; 
}


@keyframes textclip {
	to {
		background-position: 200% center;
	}
}


h1 {
    font-family: 'Lora', serif;
    font-size: 65px;
    font-weight: bold;
    color: #4D4D4D;
    text-shadow: 5px 2px whitesmoke; 
}



.home-button{
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray; 
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 1.2rem;
    padding: 0.7rem 2rem;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.home-button:hover{
    background: #9ad3bc; 
    
}

h2 {
    font-family: 'Lora', serif;
    font-size: 24px;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%; 
    text-decoration: underline;
}

p{
    font-family: 'Lora', serif;
    font-size: 17px;
    padding: 5px 15px;  
}


.bookcollage1, .bookcollage2, .bookcollage3, .bookcollage4 {
    max-width: 92%;
    display: block;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.book-recommendation-page, .book-store-page, .about-page, .contact-page{
    padding-bottom: 5%; 
}


hr {
    display: block; 
    margin-left: 1em;
    margin-right: 1em; 
    overflow: hidden; 
    border-width: 2px;

}


/*applies recommendations page*/
.rec-head-container h1{
    font-family: 'Lora', serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #4D4D4D;
    text-shadow: 5px 2px whitesmoke;  
}

.rec-head-container p {
    font-family: 'Lora', serif;
    background-color: #00d8b1;
    font-size: 25px;
}
.rec-head-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-clip: content-box;
    width: 100vw;
    height: 89vh; 
    margin-top: 70px; 
    background-color: #d4ffa3; 
    
}

.books-container{
    display: flex;
    flex-wrap: wrap;
}

.recent-reads, .best-reads, .should-reads{
    display: flex;
    width: 100vw;
    height: 43vh;
    overflow-y: scroll;
    margin: 15px;
    border: 1px solid white; 
}

figure {
    width: 100%; /*300px;*/
    margin: 10px;
    flex-basis: 300px;
}

figure img {
    height: 40vh; /*needs to be bigger for mobile view*/
    width: 50vw;
    border-radius: 10px;
    border: 1px solid #a9a9a9;
}

.image-text {
    display: none; 
}

figure img:hover, figure img:active {
    border: 2px solid black; 
}

.rec-headers1, .rec-headers2 {
    font-family: 'Lora', serif;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;

}
.rec-headers{
    font-family: 'Lora', serif;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

#button-list, #button-list2, #button-list3 {
    font-family: 'Lora', serif;
    background-color: #4D4D4D;;
    border: none;
    border-radius: 125px;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 20px;
    height: 30px; 
    width: 80%; 
}

#book-list, #book-list2, #book-list3{
    font-family: 'Lora', serif;
    display:none;
    text-align: center;
    font-size: 20px;
    text-align: left;
    margin-left: 25px; 
    margin-right: auto;
}
  

/*applies to stores page*/

.stores-head-container h1{
    font-family: 'Lora', serif;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    color: #4D4D4D;
    text-shadow: 5px 2px whitesmoke;  
}

.stores-head-container p {
    font-family: 'Lora', serif;
    background-color: #0e49b5;
    color: white; 
    font-size: 17px;
}
.stores-head-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-clip: content-box;
    width: 100vw;
    height: 89vh; 
    margin-top: 70px; 
    background-color: #00d8b1; 
    
}
h3 { 
    text-align: center;

}
.flip-gallery {
    display: grid; 
    grid-gap: 1.5em; 
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
}

.flipimg1, .flipimg2, .flipimg3 {
    width: 100%;  
}
.flip-card-back p {
    font-family: 'Lora', serif;
    text-align: left; 
    font-size: 16px; 
    color: black; 
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  

  
  .flip-card:hover .flip-card-inner,
  .flip-card:focus-within .flip-card-inner,
  .flip-card:active .flip-card-inner,
  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }
  
  
  .flip-card-back {
    background-color: #99CC66;
    transform: rotateY(180deg);
  }


/*applies to about me page*/
.about-head-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-clip: content-box;
    width: 100vw;
    height: 89vh; 
    margin-top: 70px; 
    background-color: #9de5ff;
    
}
.about-head-container h1{
    font-family: 'Lora', serif;
    font-size: 70px; 
}
.about-head-container p {
    font-family: 'Lora', serif;
    font-size: 25px; 
    background-color: #9088d4;
}


.aboutme {
    font-family: 'Lora', serif;
    font-size: 100%;
    padding-right: 20px;
    padding-left: 20px; 
    padding-bottom: 15px;
    background-color: #bedcfa; 
    margin: 15px;

}

.about-container{
    display: grid; 
    grid-template-rows: repeat(9, .2fr);
    grid-template-columns: 1fr;
    grid-gap: .5em; 
}

.about-item img{
    max-width: 90%; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
.item1 img{
    margin-top: 10px;
}

.about-item img:hover, .about-item img:active, .aboutme:hover, .aboutme:active{
    border: 4px solid #9de5ff;
}

/*Applies to contact me page*/
.contact-head-container h1{ 
    font-family: 'Lora', serif;
    font-size: 60px; 
    text-align: center; 
}

.contact-head-container p{
    font-family: 'Lora', serif;
    font-size: 25px; 
    color: black; 
    background-color: #d2e603;
}

.contact-head-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-clip: content-box;
    width: 100vw;
    height: 89vh; 
    margin-top: 70px; 
    background-color: #51c4e9;
}

.parallax {
    background-image: url(../images/backpacking-parallax.jpg);
    height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


legend {
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 1%; 
    margin-bottom: 2%;
    text-decoration: underline ;


}
label {
    font-family: 'Lora', serif;
    font-weight: bold;
}
input[type=text], select, textarea {
    font-family: 'Lora', serif;
    width: 90%; 
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 3%; 
    margin-bottom: 7%;
    margin-right: 7%; 
    resize: vertical; 
    box-shadow: 5px 5px #E1E1E1;
}

input[type=submit]{
    display: block; 
    margin-bottom: 7%;
    margin-top: 0%; 
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    width: 50%;
    background-color: #393e46;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Lora', serif;

}

input[type=submit]:hover {
    background-color: #ECE7E1;
}

.contact-container {
    border-radius: 5px; 
    padding-left: 5%; 
}




/*Tablet View*/
@media only screen and (min-width: 600px){
    #nav-menu{
        display: block;
    }

    #button{
		display: none;
	}
    
    ul{
        padding-top: 10px;
    
    }

    #nav-menu ul {
        display:flex; 
        flex-direction: row;
        justify-content: center;
    }

    #nav-menu li {
        font-size: 25px;
        font-family: 'Lora', serif;
        margin-right: 0%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #nav-menu li a {
        font-size: 20px;
        font-family: 'Lora', serif;
    }

    #nav-menu li .current{
        display: block; 
        text-decoration: underline;
        font-weight: bold;
        font-family: 'Lora', serif;
        text-transform: uppercase;
    }

    
    .footer-items {
        font-family: 'Lora', serif;
        padding-top: 10px; 
        padding-left: 36.5%; 
    }
    .footer-items a {
        font-family: 'Lora', serif;
        padding-top: 10px; 
        padding-left: 4%; 
    }

    /*Recommendations Page*/

    .rec-head-container h1{
        font-size: 70px; 
    }

    .recent-reads, .best-reads, .should-reads {
        height: 45vh; 
        overflow-y: hidden;
        margin-bottom: -20px; 

    }

    figure img {
        width: 40vw;
        height: 43vh;
    }

    .should-reads {
        margin-bottom: 50px;

    }

    .rec-headers, .rec-headers1, .rec-headers2{
        margin-left: 25px; 
        font-size: 30px;
        font-family: 'Lora', serif;
        text-align: left;
    }

    #button-list,#button-list2, #button-list3 {
        margin-right: 15%;
        margin-left: 3%;
        width: 60%;
    }

    #book-list,#book-list2, #book-list3 {
        padding-top: 10px;
        font-size: 17px;
        font-family: 'Lora', serif;
    }

    .image-text {
        display:none; 
    }

    /*Stores Page*/
    .flip-gallery {
        display: grid; 
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 2fr);
    }

    .flip-card1{  
        margin-top: 4%; 
        grid-row: 1/1; 
        grid-column: 1/ span 2; 
    }

    
    .flip-card2{  
        margin-top: 4%; 
        grid-row: 1/1; 
        grid-column: 3/ span 2; 
    }

    .flip-card3 {
        grid-row: 2 / 2; 
        grid-column: 2/ span 2; 
        margin-bottom: 10%;
    }


    .flipimg1, .flipimg2, .flipimg3 {
        height: 110%; 
        width: 105%;  
    }

    .flip-card-back{
        height: 23vh; 
    }

    .flip-card-back p{
        font-size: 17px;
        font-family: 'Lora', serif;
    }
    
    /*About Page*/
    .about-container{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, .1fr);
    }

    .about-item img{
        max-width: 100%;
        max-height: 130%;
        object-fit: cover;
    }

    .item4 img{
        margin-top: 10px; 
    }

    .item1 {
       grid-column: 1 / 2;
       grid-row: 1 / 2; 
    }

    .item2 {
        grid-column: 1/ 2; 
        grid-row: 2 / 3;  
    }

    .item3 {
        grid-column: 1/3; 
        grid-row: 5/6; 
    }

    .item3 img {
        height: 50vh; 
        width: 100%;
        margin-left: 0px;
    }

    .itemt4 {
        grid-column: 2/3; 
        grid-row: 1/2; 
    }

    .item5 {
        grid-column: 2/3; 
        grid-row: 2/3; 
    }

    .item6 {
        grid-column: 1/2; 
        grid-row: 4/5; 
    }

    .item7 {
        grid-column: 2/3; 
        grid-row: 3/4; 
    }

    .item8{
        grid-column: 1/2; 
        grid-row: 3/4; 
    }

    .aboutme1{
        grid-column: 1/ span 2; 
        grid-row: 6/7; 

    }

    /*Contact Page*/
    label {
        font-size: 24px; 
        font-family: 'Lora', serif;
    }
    input[type=text], select, textarea {
        margin-top: 1%;
        font-size: 17px;  
    }

    .contact-container{
        padding: 5%; 
        border: 2px; 
    }

    .contact-h2 {
        font-size: 30px;
        position: absolute;
        font-family: 'Lora', serif;
    }

    input[type=submit] {
        font-size: 20px; 
        font-family: 'Lora', serif;
        margin-left: 0;
        width: 30%;
        margin-top: -4%; 
        margin-bottom: 15%;
    
    }

  iframe {
      margin-left: 15px; 
  }

  .iframe1{
      margin-top: -17%;
      margin-bottom: 5%; 
  }
    

    

/*Desktop View*/
@media only screen and (min-width:801px) {
    #nav-menu{
        display: block;
    }

    #button{
		display: none;
	}
    
    ul{
        padding-top: 10px;
    
    }

    #nav-menu ul {
        display:flex; 
        flex-direction: row;
        justify-content: flex-end;
    }

    #nav-menu li {
        font-size: 25px;
        font-family: 'Lora', serif;
        margin-right: 0%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #nav-menu li a {
        font-size: 20px;
        font-family: 'Lora', serif;
    }

    #nav-menu li .current{
        display: block; 
        text-decoration: underline;
        font-weight: bold;
        font-family: 'Lora', serif;
        text-transform: uppercase;
    }

    hr {
        display: none; 
    }

    h2 {
        font-size: 25px;
        font-family: 'Lora', serif;
    
    }

    p {
        font-size: 20px;
        font-family: 'Lora', serif;
    }

    .wrapper-text p{
        font-size: 25px; 
    }
    

    #main {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(3,auto);
    }

    .book-recommendation-page{
        grid-row: 1/2;
        grid-column: 1/2;
        padding: 10% 15% 10% 15%; 
        padding-bottom: 20%;
    }

    .book-store-page{
        grid-row: 2/3;
        grid-column: 3/4;
        padding: 10% 15% 10% 15%; 
        padding-bottom: 20%; 
    }

    .about-page {
        grid-row: 3/4;
        grid-column: 1/2; 
        padding: 10% 15% 10% 15%; 
        padding-bottom: 20%; 
    }

    .contact-page {
        grid-row: 4/5; 
        grid-column: 3/4; 
        padding: 10% 15% 10% 15%; 
        padding-bottom: 20%; 

    }

    .collage1 img, .collage2 img, .collage3 img, .collage4 img{
        display: none; 
    }
    .collage1{
        grid-row: 1/2;
        grid-column: 2/ span 2; 
        background-image: url(../images/bookcollage1.jpg);
        background-size: 100% 80%; 
        background-repeat: no-repeat;
        margin-top: 10%; 
    }

    .collage2{
        grid-row: 2/ span 1;
        grid-column: 1/ span 2; 
        background-image: url(../images/bookcollage2.jpg);
        background-size: 100% 80%; 
        background-repeat: no-repeat;
        margin-top: 10%; 
    }

    .collage3{
        grid-row: 3/4;
        grid-column: 2/ span 2; 
        background-image: url(../images/bookcollage3.jpg);
        background-size: 100% 80%; 
        background-repeat: no-repeat;
        margin-top: 10%; 
    }

    .collage4 {
        grid-row: 4/5; 
        grid-column: 1/ span 2; 
        background-image: url(../images/bookcollage4.jpg);
        background-size: 100% 80%; 
        background-repeat: no-repeat;
        margin-top: 10%; 
    }

    .footer-items {
        font-family: 'Lora', serif;
        padding-top: 10px; 
        padding-left: 41%; 
    }


    

    /* Recommendations Page */ 
    .rec-head-container h1{
        font-size: 70px; 
        font-family: 'Lora', serif;
    }
    .recent-reads, .best-reads, .should-reads {
        height: 54vh; 
        overflow-y: hidden;
        margin-bottom: -20px; 

    }

    .should-reads {
        margin-bottom: 100px;

    }
    figure img {
        width: 14.5vw;
        height: 47vh;
    }

    figure {
       flex-basis: 200px;
    }

    .rec-headers, .rec-headers1, .rec-headers2{
       margin-left: 25px; 
       font-size: 40px;
       font-family: 'Lora', serif;
       margin-bottom: -10px; 
    }
    .image-text {
        display: block; 
        font-family: 'Lora', serif;
        text-align: center;
        font-size: 15px;

    }

    #button-list,#button-list2, #button-list3   {
        display: none; 
    }

     #book-list, #book-list2, #book-list3{
        display:none;
    }

    .contact-container {
        padding: 5%; 
        border: 2px; 
    }

    input[type=submit]{
        margin-left: 0;
        width: 0%;
        margin-top: 0%; 
    }

/*Stores Page*/
    .stores-head-container p {
        font-size: 25px;
    }
    .flip-gallery {
        display: grid; 
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 10%; 
        grid-gap: 11em;
    
    
    }

    .flip-card1{  
        margin-top: 4%; 
        grid-row: 1/1; 
        grid-column: 1/ 2; 
    }


    .flip-card2{  
        margin-top: 4%; 
        grid-row: 1/1; 
        grid-column: 2/ 3; 
    }

    .flip-card3 {
        margin-top: 4%;
        grid-row: 1/ 1; 
        grid-column: 3/ 4; 

    }


    .flipimg1, .flipimg2, .flipimg3 {
    width: 140%;   
    }

    .flip-card-back p{
        font-size: 20px;
        font-family: 'Lora', serif;
    }
    .flip-card-front {
    height: 100vh; 
    }
    .flip-card-back {
        width: 105%; 
        height: 42vh; 
    }

/*About Page*/
    .about-container{
        display: grid; 
        grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(4, .5fr);
    }

    .about-item img{
        max-width: 95%;
        max-height: 130%;
        object-fit: cover;
    }



    .item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; 
    }

    .item2 {
        grid-column: 2/3; 
        grid-row: 2/3; 

    }

   .item3 {
       grid-column: 3/4;
       grid-row: 3/4; 
    }


    .itemt4 {
        grid-column: 2/3; 
        grid-row: 1/2; 
    }

    .item5 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .item6 {
        grid-column: 1/2; 
        grid-row: 3/4; 
    }

    .item7 {
        grid-column: 1/ 2; 
        grid-row: 2 / 3;  
    }

    .item8{
        grid-column: 3/4; 
        grid-row: 2/3; 
    }

    .item9 {
        grid-column: 3/4;
        grid-row: 1/2; 
    }

    .item9 img {
        margin-top: 10px;
        height: 45.6vh; 
}

    .item6 img {
        height: 80vh;
    }

    .item5 img {
        height: 80vh;
        width: 200vw
    }

    .item3 img {
        height: 80vh; 
        width: 200vw; 
        margin-left: 2.5%; 
    }

    .aboutme1 {
        grid-column: 1/ 4; 
        grid-row: 4/5; 
    }

    .aboutme {
        font-size: 20px;
        font-family: 'Lora', serif;
    }

    .emoji {
        font-size: 20px;
    }


/*Contact Page*/
    .contact-head-container h1{ 
        font-size: 70px; 
    }
    label {
        font-family: 'Lora', serif;
        font-weight: bold;
    }
    input[type=text], select, textarea {
        font-family: 'Lora', serif;
        width: 100%; 
        padding: 15px; 
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 3%; 
        margin-bottom: 7%;
        margin-right: 7%; 
        resize: vertical; 
        box-shadow: 5px 5px #E1E1E1;
    }

    input[type=submit]{
        display: block; 
        margin-bottom: 2%;
        margin-top: 0%; 
        padding: 12px 30px;
        border: none;
        cursor: pointer;
        width: 50%;
        background-color: #393e46; 
        color: white; 
        border-radius: 10px;
        font-size: 16px;
        font-family: 'Lora', serif;

    }

    input[type=submit]:hover {
        background-color: lightgray;
        color:black; 
    }

    .contact-container {
        border-radius: 5px; 
        padding-left: 5%; 
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .wrapper{
        animation: none;
    }

    .parallax{
        background-attachment: initial;
    }

    input[type=text], select, textarea {
        box-shadow: none; 
    }
    .about-item img:hover, .about-item img:active, .aboutme:hover, .aboutme:active {
        border: none !important; 
    }
    figure img:hover, figure img:active {
        border: none !important; 
    }
}


